parameters:

    level: 6

    paths:
        - Zebra_Database.php
        - tests

    bootstrapFiles:
        - tests/settings.php

    scanFiles:
        - includes/SqlFormatter.php

    excludePaths:
        - tests/tmp
        - tests/coverage-html
        - tests/standards

    ignoreErrors:

        -
            identifier: missingType.return
            path: tests/*
        -
            identifier: missingType.parameter
            path: tests/*
        -
            identifier: missingType.property
            path: tests/*
